@font-face {
    font-family: 'AlienFont';
    src: url('../fonts/TheCalling.ttf') format('truetype');
  }
  
  .alien-font {
    font-family: 'AlienFont', sans-serif;
  }

  .shadow-neon {
    text-shadow: 0 0 5px #3abff8, 0 0 20px #3abff8, 0 0 40px #3abff8;
  }