@tailwind base;
@tailwind components;
@tailwind utilities;


#world {
  display: block;
  margin: auto;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
}

.container-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Pour que le container prenne toute la hauteur de la fenêtre */
  background: #000;
}

.scene {
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
}

.wrap {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: 50%; /* Center the wrap */
  top: 50%; /* Center the wrap */
  margin-left: -500px; /* Half of the width */
  margin-top: -500px; /* Half of the height */
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards;
}

.wrap:nth-child(2) {
  animation-delay: 6s;
}

.wall {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/PIA09959-1280x800_copy.jpg');
  background-size: cover;
  width: 1000px;
  height: 1000px;
  position: absolute;
  opacity: 0;
  animation: fade 12s infinite linear;
}

.wrap:nth-child(2) .wall {
  animation-delay: 6s;
}

.wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
  transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
  0% {
    transform: translateZ(-500px) rotate(0deg);
  }
  100% {
    transform: translateZ(500px) rotate(0deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* SideBar.css */
.sidebar-scrollbar {
  overflow-y: auto;
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 3px; /* Largeur de la barre de défilement */
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Couleur de l'arrière-plan de la barre de défilement */
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #AE67FA, #67B2FA); /* Gradient de couleur */
  border-radius: 20px; /* Arrondir les coins de la barre de défilement */
}