@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000;
}

#world {
  display: block;
  margin: auto;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}
.offline.m-2::before {
  background-color: red;
}
